<div _ngcontent-ppu-c20="" class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a _ngcontent-ppu-c20="" href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg _ngcontent-ppu-c20="" width="30" height="24" class="bi me-2">
            <use _ngcontent-ppu-c20="" xlink:href="#bootstrap"></use>
        </svg>
        <span _ngcontent-ppu-c20="" class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul _ngcontent-ppu-c20="" class="list-unstyled ps-0">
        <li _ngcontent-ppu-c20="" class="mb-1">
            <button _ngcontent-ppu-c20="" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true" class="btn btn-toggle align-items-center rounded collapsed"> Home </button>
            <div _ngcontent-ppu-c20="" id="home-collapse" class="collapse show">
                <ul _ngcontent-ppu-c20="" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Overview</a>
                    </li>
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Updates</a>
                    </li>
                    <li _ngcontent-ppu-c20=""><a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Reports</a></li>
                </ul>
            </div>
        </li>
        <li _ngcontent-ppu-c20="" class="mb-1">
            <button _ngcontent-ppu-c20="" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false" class="btn btn-toggle align-items-center rounded collapsed"> Dashboard </button>
            <div _ngcontent-ppu-c20="" id="dashboard-collapse" class="collapse">
                <ul _ngcontent-ppu-c20="" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Overview</a>
                    </li>
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Weekly</a>
                    </li>
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Monthly</a>
                    </li>
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Annually</a>
                    </li>
                </ul>
            </div>
        </li>
        <li _ngcontent-ppu-c20="" class="mb-1">
            <button _ngcontent-ppu-c20="" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false" class="btn btn-toggle align-items-center rounded collapsed"> Orders </button>
            <div _ngcontent-ppu-c20="" id="orders-collapse" class="collapse">
                <ul _ngcontent-ppu-c20="" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">New</a>
                    </li>
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Processed</a>
                    </li>
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Shipped</a>
                    </li>
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Returned</a>
                    </li>
                </ul>
            </div>
        </li>
        <li _ngcontent-ppu-c20="" class="border-top my-3">

        </li>
        <li _ngcontent-ppu-c20="" class="mb-1">
            <button _ngcontent-ppu-c20="" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false" class="btn btn-toggle align-items-center rounded collapsed"> Account </button>
            <div _ngcontent-ppu-c20="" id="account-collapse" class="collapse">
                <ul _ngcontent-ppu-c20="" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">New...</a>
                    </li>
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Profile</a>
                    </li>
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Settings</a>
                    </li>
                    <li _ngcontent-ppu-c20="">
                        <a _ngcontent-ppu-c20="" href="#" class="link-dark rounded">Sign out</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>